source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.5/direnvrc" "sha256-RuwIS+QKFj/T9M2TFXScjBsLR6V3A17YVoEW/Q6AZ1w="

nix_direnv_manual_reload

use flake . --fallback --accept-flake-config

# When running in a nix shell, the build assumes it's happening in CI and forces a release build.
# Setting this env var forces it to respect the RB_SYS_CARGO_PROFILE env var.
export RB_SYS_TEST=1

dotenv
